.main-page{
    &__box{
        display: flex;
        padding:2rem;
        justify-content: center;
    }
    &__item{
        display: flex;
        display: inline-block;
        margin:2rem;
        width: 40%;
        &:hover{
            box-shadow: 0 0 20px #222222;
        }
        &:active{
            transform: scale(0.9);
        }

    }
}