*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1140px;
  min-width:360px;
  padding:0 1rem;
}

/* .App {
   text-align: center;
} */

.page__header{
  padding:1rem 0;
  color: #454545;
}

