*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1140px;
  min-width:360px;
  padding:1rem;
}

.messenger{
  display: flex;
  justify-content: center;

  &__header{
    color: #454545;
    }
  &__container{
    display:inline-block;
    
    border: 1px solid #a1a1a1;
    padding: 1rem;
    min-width:340px;
    max-width: 720px;
  }
  &__items{
    border: 1px solid #a1a1a1;
    padding:0.5rem 0.5rem 1rem 0.5rem;
    &-header{
      padding:0.3rem 0;
      font-weight: 500;
      color:#505050;
    }
  }
}
