.chat{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: 0.2rem auto;
    max-width: 90%;
    background-color:#ececec;
    &:hover{
        box-shadow: 0 0 10px #333333;
    }
    & .MuiAvatar-root{
    margin: 0 auto;
}
}
