.user{
    &-list{
        display:flex;
        flex-wrap: wrap;
    }
    
    &-item{
        // height: 100%;
        max-width:30%;
        // max-height:200px;
        border:1px solid #cecece;
        margin: 0 1rem;
        cursor: pointer;
        height: 100%;
        position: relative;
        margin: 1rem;
        padding: 1rem !important;
        
        &_selected{
            box-shadow: 0 0 1rem #222222;
        }
        &:active{
            transform: scale(0.9);
        }
    }

    &-check{
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
        }
    &-button{
        border:1px solid #cecece;
        // text-align: center;
        margin: 1rem auto;
        display: inline-block;
    }
}

@media screen and (max-width:950px) {
    .user{
        &-item{
            max-width:45%;
        }
    }
}
@media screen and (max-width:700px) {
    .user{
        &-list{
            justify-content: center;
        }

        &-item{
            max-width:90%;
        }
    }
}
